body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}
/* section */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* conatiner */

.container-fluid {
  padding: 7% 15%;
}

/* heading */

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* title section */

#title {
  text-align: left;
}

/* to overwrite padding from the more broad .container-fluid with our specific padding. this format has css priority as its more specific. */
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.2rem;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image-column {
  position: relative;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */
#features {
  position: relative;
}

.feature-box {
  padding: 4.5%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 6.25rem;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.pricing-details {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action section */

/* footer section*/

.footer-icon {
  margin: 0 0.5% 2%;
}
/* media queries */
@media (max-width: 992px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}
